/* Este pixel lo uso para poder detectar la altura a la que se encuetra el viewport del dispositivo. Es un trigger para que al dejar de estar en pantalla se modifiquen los estilos del navbar */
/* PIXEL SENSOR DE SCROLL */
#top-del-sitio-pixel-sensor {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 250px;
    left: 0;
    background-color: transparent;
}
/* FIN PIXEL SENSOR DE SCROLL */

/* HEADER */
.header {
    width: 100%;
    padding-top: $sizeImagenHero;
    position: relative;
    display: flex;
    justify-content: center;
    
    .header-hero-wrapper {
        @extend %contenedor;
        width: 100%;
        height: 100%;
        max-width: 1800px;
        position: absolute;
        top: 0;
        
        .header-hero {
            top: 0;
            width: 100%;
            height: 100%;
            background-image: $imagenHero;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            h1, p {
                color: $colorBlancoEsMarina;
                text-align: center;
            }
            
            h1 {
                font-size: 4rem;
            }
            p {
                font-size: 1rem;
                margin-top: .8rem;
            }
        }
    }
    
    .header-navbar {
        font-size: 1rem;
        position: absolute;
        top: 0;
        width: 100%;
        color: $colorBlancoEsMarina;
        z-index: 1;
        transition: background-color .5s ease-in-out;
        
        &.no-en-top {
            animation: slideIn .5s ease-in-out;
            position: fixed;
            background-color: $colorTurquesaEsMarina;
        }
        
        .nav-menu-btn {
            display: none;
        }
        .navbar-nav {
            @extend %contenedor;
            padding: 1rem 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .icono-carrito {
                @extend %scaleEffect;
                width: 28px;
                position: relative;

                #cantidad-carrito {
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    background-color: $colorLadrilloEsMarina;
                    padding: 3px;
                    border-radius: 40%;
                    font-size: 0.8rem;
                }
            }
            .nav-logo {
                width: 4rem;
                @media only screen and (max-width: 768px) {
                    width: 3rem;
                }
            }
            .nav-links {
                display: flex;
                gap: 1.5rem;

                .nav-links-link {
                    @extend %scaleEffect;
                    font-weight: 900;
                    text-transform: uppercase;
                    
                    .link {
                        text-decoration: none;
                    }
                }
            }
        }
        @media only screen and (max-width: 768px) {
            
            &.no-en-top {
                .navbar-nav .nav-links {
                    background-color: $colorTurquesaEsMarina;
                }
            }
            .nav-menu-btn {
                display: block;
            }
            .navbar-nav {
                .nav-links {
                    z-index: -1;
                    position: absolute;
                    top: -300px;
                    left: 0;
                    width: 100%;
                    padding: 1rem;
                    gap: 1rem;
                    justify-content: center;
                    flex-wrap: wrap;
                    transition: background-color .5s ease-in-out, transform .5s ease-in-out;
                    
                    &.menu-abierto {
                        transform: translateY(370px);
                    }
                }
            }
        }
    }
}

/* FIN HEADER */