/* Use estos estilos que saque de internet para lograr no tener que estilar desde 0 el icono de hamburguesa para el menu del navbar en mobile. Modifique algunas cosas relacionadas al los tamanios de las lineas y los ajustes para que el icono de "Close" se viera correctamente con los nuevos tamanios de linea. */
/* Inicio nav-menu-btn */

.hamburger .line{
    width: 25px;
    height: 2px;
    background-color: #ecf0f1;
    display: block;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
  
.hamburger:hover{
    cursor: pointer;
}
  
/* ONE */
  
#hamburger-1.is-active .line:nth-child(2){
    opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1){
    -webkit-transform: translateY(7px) rotate(45deg);
    -ms-transform: translateY(7px) rotate(45deg);
    -o-transform: translateY(7px) rotate(45deg);
    transform: translateY(7px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3){
    -webkit-transform: translateY(-7px) rotate(-45deg);
    -ms-transform: translateY(-7px) rotate(-45deg);
    -o-transform: translateY(-7px) rotate(-45deg);
    transform: translateY(-7px) rotate(-45deg);
}

/*
Code adapted from https://codepen.io/RRoberts/pen/ZBYaJr/
Original Version Made By: Rosa https://codepen.io/RRoberts/
Found on: https://freefrontend.com/css-hamburger-menu-icons/
*/

/* Fin nav-menu-btn */