/* En este apartado hice un reset personalizado donde defino propiedades generales a cumplir en todo el sitio. Basicamente estilos estandares para el sitio. */
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 16px;
    scroll-padding-top: 100px;
}

body, input, textarea{
    font-family: $fuenteTexto;
    color: $colorNegroEsMarina;
}

html, body {
    max-width: 100%;
}

h1 {
    font-weight: 700;
}

h2, h3, h4 {
    color: $colorLadrilloEsMarina;
    text-decoration: underline $colorTurquesaEsMarina;
}

h3, h4 {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

h2 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 900;
}

img {
    width: 100%;
}

button {
    /* Aqui lo que estoy haciendo es eliminar todos los estilos de los botones para que se vea como texto comun, principalmente para asegurar que al estilar el boton se mantengan siempre los estilos que configure */
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

    /* Estilos personalizados de botones, normalemente estilaria los botones en el archivo de variables para tener distintos tipos de botones sean primarios o secundarios, pero como en el sitio solo hay un boton agregue el estilado aqui mismo */
    @extend %scaleEffect;
    margin: 0;
    padding: 0.5rem 1.5rem;
    background-color: $colorTurquesaEsMarina;
    color: $colorBlancoEsMarina;
    font-weight: 700;
}

input, textarea {
    padding: 0.5rem;
    border: solid $colorTurquesaEsMarina 1px;
    outline: none;

    /* Basicamente aqui estoy haciendo un outline personalizado */
    &:focus {
        border: solid $colorTurquesaEsMarina 2px;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    a {
        text-decoration: underline;
        color: $colorLadrilloEsMarina;
        
        &:visited {
            color: inherit;
        }
        &:hover {
            color: $colorTurquesaEsMarina;
        }
        &:active {
            color: inherit;
        }
    }
}

ul li {
    list-style: none;
}

strong {
    color: $colorLadrilloEsMarina;
}

section {
    @extend %contenedor;
}

.italics {
    font-style: italic;
}

.color-ladrillo {
    color: $colorLadrilloEsMarina;
}

.disable {
    display: none;
}
/* FIN RESET */